.companyfirstdiv{
    width: 99.8%;
    height: 120px;
    border-style: solid;
    border-width: 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(179, 179, 179);
}
.empdiv{
    display: flex;
    width: 40%;
    margin-left: 50vb;
    /* background-color: aqua; */
    justify-content: space-evenly;
    align-items: center;
    height:100px;
}

.inputcompany{
    border-width: 0.5px;
    border-color: rgb(182, 181, 181);
    width: 250px;
    height: 35px;
    border-radius: 3px;
}
.searchbtn{
    padding: 10px;
    color: white;
    background-color: #0C4085;
    width: 80px;
    
}
.searchbtn:hover{
    background-color: #033c87;
}

.expcom{
    margin-left: 100px;
}
.filtercomp{
    width:98%;
    /* height: 100px; */
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.innerdiv{
    width: 95%;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
}
.filterdiv{
    border-width: 0.5px;
    border: 1px solid rgb(202, 200, 200);
    width:32%;

}
.separator{
    background-color: rgb(194, 194, 194);
}
.companydiv{
    width:65%;
    overflow-y: scroll;
    height: 100vh;
}
.companydiv::-webkit-scrollbar {
    display: none;
}


@media (max-width: 900px) {
.empdiv{
    display: block;
    width: 80%;
    margin-left: 20%;
}
.searchbtn{
margin-left: 20px;
}

}