.filterbuttons{
    display:flex;
    height:50px;
    /* background-color: aqua; */
    padding: 10px;
    justify-content: space-between;
    width: 45%;

}
.butn{
    background-color: rgb(238, 234, 228);
    border-radius: 20px;
    width:auto ;
    height: 40px;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
}

.butn:hover{
    background-color: rgb(236, 226, 213);
}